{% extends "parent.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5" style="background:rgba(0,0,0,0.5);">
            <h1 class="p-5 text-white display-2">ABOUT US</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-3 text-center my-3">We Provide India's best services</h1> <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
            </p>
        </div>
    </div>
</div>
{% endblock %}