{% extends "parent.html" %}
{% block myblock %}

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5 text-white" style="background:rgba(0,0,0,0.5);">
            <h1 class="p-5 display-4">Category > {{songs.0.song_category.name|upper}} ({{songs|length}}) </h1>
            <small>{{songs.0.song_category.description}}</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1></h1>

            <table class="table table-striped">
                <script>let c = 1;</script>
                {% for i in songs %}
                    <tr>
                        <th><script>document.write(c);</script></th>
                        <td>{{i.song_name}} - {{i.artist_name}} <br> <small>- Uploaded On: {{i.uploaded_on}} </small></td>
                        <td>
                            <audio src="/media/{{i.song_file}}" controls>
                                <source src="/media/{{i.song_file}}">
                            </audio>
                        </td>
                    </tr>
                    <script>c++;</script>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}