{% extends "parent.html" %}
{% block myblock %}
{% if status %}
    <script>
        alert("{{status}}");
    </script>
    {% endif %}
    <div class="container-fluid">
        <div class="row banner">
            <div class="col-md-12 text-center p-5" style="background:rgba(0,0,0,0.5);">
                <h1 class="p-5 text-white display-2">CONTACT US</h1>
            </div>
        </div>
        <div class="row bg-light">
            <div class="col-md-6 mx-auto shadow my-5 p-4 bg-white">
                <!-- <div class="alert alert-success">{{status}}</div> -->
                <form action="" method="post">
                    
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Full Name</label>
                        <input type="text" placeholder="Enter Name..." class="form-control" name="full_name" required>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" placeholder="Enter Email..." class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="">Subject</label>
                        <input type="text" placeholder="Enter Subject..." class="form-control" name="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="">Message</label>
                        <textarea name="message" rows="5" placeholder="Enter Message..." class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="SEND FEEDBACK" class="btn btn-info">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.0561195236173!2d76.6924771144611!3d30.716822693451668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1602941273261!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <!-- PREVIOUS FEEDBACKS -->
            {% if user.is_authenticated %}
            <div class="col-md-12">
                <h1 class="display-3 text-center my-2">Previous Feedbacks ({{previous_feedback|length}}) </h1>
                <table class="table table-hover table-info" id="mytable">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Received On</th>
                            <th>Update Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in previous_feedback %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.subject}}</td>
                                <td>{{i.message}}</td>
                                <td>{{i.received_on}}</td>
                                <td>{{i.updated_on}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- {{previous_feedback.0.name}}
                {{previous_feedback.1.name}}
                {{previous_feedback.2.name}} <br>
                {{previous_feedback.0.email}} <br>
                {{previous_feedback.1.email}} <br> -->

            </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(function(){
            $("#mytable").DataTable()
        });
    </script>
{% endblock %}