{% extends 'parent.html' %}
{% block myblock %}
{% if not user.is_authenticated %}
<div class="m-5 alert alert-danger">Login first to See Dsahboard</div>
{% else %}
{% if status %}
    <script>
        alert("{{status}}");
    </script>
{% endif %}
<div class="container my-5 alert alert-primary">
    <div class="row">
        <div class="col-md-6 mx-auto card">
            <div class="card-body text-center">

                {% if profile.profile_pic %}
                <img src="/media/{{profile.profile_pic}}" alt="" class="card-img rounded-circle" style="height:150px;width:150px">
                {% else %}
                <img src="/static/images/blank.png" alt="" class="card-img rounded-circle" style="height:150px;width:150px">
                {% endif %}
                 <form action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input type="file" style="visibility: hidden;" id="changephoto" name="photo">
                     <button onclick="clickbtn()" type="button"> Update Profile</button>
                 
                <table class="table">
                    <tr>
                        <th>FIRST NAME</th>
                        <td>
                            <input type="text" name="fname" value="{{profile.user.first_name}}" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th>LAST NAME</th>
                        <td>
                            <input type="text" name="lname" value="{{profile.user.last_name}}" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th>USERNAME</th>
                        <td><input type="text" value="{{profile.user.username}}" class="form-control" readonly></td>
                    </tr>
                    <tr>
                        <th>EMAIL</th>
                        <td><input type="text" value="{{profile.user.email}}" class="form-control" readonly></td>
                    </tr>
                    <tr>
                        <th>PHONE NUMBER</th>
                        <td><input type="text" name="phone" value="{{profile.phone_number}}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>GENDER</th>
                        <td>
                            <select name="gen" class="form-control">
                                {% if profile.gender == 'male' %}
                                    <option value="male" selected>Male</option>
                                {% else %}
                                <option value="male">Male</option>
                                {% endif %}
                                
                                {% if profile.gender == 'female' %}
                                <option value="female" selected>Female</option>
                                {% else %}
                                <option value="female">Female</option>
                                {% endif %}
                        
                                {% if profile.gender == 'others' %}
                                <option value="others" selected>Others</option>
                                {% else %}
                                <option value="others">Others</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>LAST LOGIN</th>
                        <td><input type="text" value="{{profile.user.last_login}}" class="form-control" readonly></td>
                    </tr>
                    <tr>
                        <th>MEMBER SINCE</th>
                        <td><input type="text" value="{{profile.user.date_joined}}" class="form-control" readonly></td>
                    </tr>
                </table>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-success">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    function clickbtn(){
        $("#changephoto").click();
    }
</script>
{% endif %}
{% endblock %}