{% extends "parent.html" %}
{% block myblock %}
<style>
    .cat-box:hover{
        box-shadow: 0px 0px 10px gray;
        cursor: pointer;
    }
</style>
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5" style="background:rgba(0,0,0,0.5);">
           <div class="container my-5 py-5 w-75">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" onkeyup="searchsong()" class="form-control" name="searchsong" id="search" placeholder="Search by Song name, Artist name">
                    </div>
                    <div class="col-md-4">
                        <input type="button" onclick="searchsong()" name="search" class="btn btn-info btn-block" value="Search">
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- FOR SEARCH RESULTS  -->
    <div class="row" id="search_results"></div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-3 text-center my-3">Welcome to My Site</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta autem nobis fugiat quidem est quo nulla itaque quos, ducimus vel magni tempora assumenda atque incidunt commodi veritatis consequuntur cum aut!
            </p>
        </div>
        <div class="col-md-12 bg-light">
            <h1 class="display-3 text-center my-3">Our Categories ({{cats|length}})</h1>
            <div class="row">
                {% for i in cats %}
                    <div class="col-md-4 p-4">
                        <!-- <a href="{% url 'category_songs' %}?category_id={{i.id}}&name={{i.name}}"> -->
                        <a href="{% url 'category_songs' %}?category_id={{i.id}}">
                        <div class="card p-4 cat-box">
                            <img src="/media/{{i.image}}" height="250" width="100%">
                            <h2>{{i.id}}. {{i.name}}</h2>
                            <p>{{i.description}}</p>
                            <p>
                                <em>{{i.uploaded_on}}</em>
                            </p>
                        </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <h1 class="display-4 text-center my-5">Recent Songs</h1>
           
            <table class="table table-striped">
                <script>let c = 1;</script>
                {% for i in songs %}
                    <tr>
                        <th><script>document.write(c);</script></th>
                        <td>{{i.song_name}} - {{i.artist_name}} <br> <small>- Uploaded On: {{i.uploaded_on}} </small></td>
                        <td>
                            <small>Uploaded By: {{i.uploaded_by.user.first_name}} {{i.uploaded_by.user.last_name}} </small>
                        </td>
                        <td>
                            <audio src="/media/{{i.song_file}}" controls>
                                <source src="/media/{{i.song_file}}">
                            </audio>
                        </td>
                    </tr>
                    <script>c++;</script>
                {% endfor %}
            </table>
        
        </div>
    </div>
</div>
<script>
    function searchsong(){
        var query = document.getElementById("search").value;
        $.ajax({
            url:"{% url 'search_song' %}",
            type:"get",
            data:{q:query},
            success:function(data){
                var result = '<div class="col-md-12">';
                result += '<h1 class="display-4 text-center my-5">Search Results ('+data.songs.length+')</h1>';
                result += '<table class="table table-striped text-center">';
                for(i in data.songs){
                    result += '<tr>';
                    result += '<td>'+data.songs[i].song_name+' - '+data.songs[i].artist_name+'<br><small>- Uploaded On: '+data.songs[i].uploaded_on+'</small></td>';
                    result += '<td><audio src="/media/'+data.songs[i].song_file+'" controls>';
                    result += '<source src="/media/'+data.songs[i].song_file+'"></audio></td>';
                    result += '</tr>';
                }
                result += '</table>'
                result += '</div>';

                document.getElementById('search_results').innerHTML = result;
            }
        })
      
    }
</script>
{% endblock %}