{% extends "parent.html" %}
{% block myblock %}
{% if message %}
<script>
    alert("{{message}}");
    window.location.href="/mysongs/"
</script>
{% endif %}
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5 text-white" style="background:rgba(0,0,0,0.5);">
            <h1 class="p-5 display-4">Dashboard > My Songs ({{mysongs|length}})</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1></h1>

            <table class="table table-striped" id="mysongs">
                <script>let c = 1;</script>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Song Name</th>
                        <th>Song Category</th>
                        <th>Song</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in mysongs %}
                    <tr>
                        <th><script>document.write(c);</script></th>
                        <td>{{i.song_name}} - {{i.artist_name}} <br> <small>- Uploaded On: {{i.uploaded_on}} </small></td>
                        <td>{{i.song_category.name}}</td>
                        <td>
                            <audio src="/media/{{i.song_file}}" controls>
                                <source src="/media/{{i.song_file}}">
                            </audio>
                        </td>
                        <td  class="pt-4"><a onclick="confirmation('{{i.id}}','{{i.song_name}}')" class="text-light p-1 px-2 bg-danger" style="border-radius: 4px;"><i style="font-size:20px;" class="fa fa-trash"></i></a></td>
                    </tr>
                    <script>c++;</script>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#mysongs").dataTable();
    })
    function confirmation(id, song_name){
        var x = confirm("Are you sure want to delete '"+song_name+"' Click 'OK' to continue");
        if(x==true){
            window.location.href="/mysongs/?q="+id;
        }
    }
</script>
{% endblock %}