<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .bg-info, .btn-info, hr{
            background: rgb(235, 52, 158) !important;
        }
        .banner{
            background:url("{% static 'images/bg.jpeg' %}");
            background-attachment: fixed;
            background-size: cover;
        }
        .shadow{
            box-shadow: 0px 0px 15px gray;
        }
        .footer ul{
           line-height:50px;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 px-0">
             <nav class=" navbar navbar-expand-sm navbar-dark bg-info px-5">
                 <a href="{% url 'homepage' %}" class="navbar-brand">MyWeb</a>
                   <!-- Toggler/collapsibe Button -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div id="menubar" class="collapse navbar-collapse">
                  <ul class="navbar-nav w-75">
                     <li class="nav-item">
                        <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'aboutpage' %}" class="nav-link">About</a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'contactpage' %}" class="nav-link">Contact</a>
                     </li>
   
                     {% if not user.is_authenticated %}
                     <li class="nav-item">
                           <a href="{% url 'loginpage' %}" class="nav-link">Login</a>
                     </li>
                     {% else %}
                     <li class="nav-item dropdown">
                        <a href="" style="display: inline-block;" class="p-2 bg-secondary rounded-circle text-white font-weight-bold text-center nav-link "
                        data-toggle="dropdown">{{user.first_name.0}}{{user.last_name.0}}</a>
                        <div class="dropdown-menu">
                           <a href="{% url 'dashboard' %}" class=" dropdown-item">My Profile</a>  
                           <div class="dropdown-divider"></div>   
                           <a href="{% url 'upload_song' %}" class=" dropdown-item">Upload Song</a>   
                           <a href="{% url 'mysongs' %}" class=" dropdown-item">My Songs</a> 
                           <div class="dropdown-divider"></div>  
                           <a href="{% url 'change_password' %}" class=" dropdown-item">Change Password</a>   
                           <a href="{% url 'user_logout' %}" class=" dropdown-item">Logout</a>   
                        </div>
                     </li>
                     {% endif %}
                  </ul>
                  <a class="btn btn-light" href="{% url 'donate' %}">Donate!</a>
               </div>
              
            
             </nav>
          </div>
       </div>
    </div>
    {% block myblock %}
    {% endblock %}
    <!-- FOOTER -->
    <div class="container-fluid bg-info text-center text-light footer">
    <div class="row mt-5 pt-5">
       <div class="col-md-4">
          <h1> MyWeb </h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi laudantium, autem, quas qui consequuntur voluptatem eum, iure ullam nobis vel quo fuga obcaecati recusandae et totam libero assumenda modi? Perspiciatis.</p>
       </div>
       <div class="col-md-4">
          <ul type="none">
             <li>Link 1</li>
             <li>Link 2</li>
             <li>Link 3</li>
             <li>Link 4</li>
          </ul>
       </div>
       <div class="col-md-4">
          <ul type="none">
             <li>+91 9999999999</li>
             <li>0176-22787777</li>
             <li><em>info@mywebsite.com</em></li>
             <li><ins class="font-italic">www.myweb.com</ins></li>
          </ul>
       </div>
    </div>
   </div>
</body>
</html>