<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayTm merchant payment page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto card shadow my-5 p-4">
                <h1>Your Transaction has been processed... </h1>
                <h2>Please do not refresh the page</h2>
                <p>Thanks for your initiative</p>
                <form  method="post" action="https://securegw-stage.paytm.in/theia/processTransaction" name="paytm">
    
                    <!-- <input type="hidden" value="{{details.MID}}" name="MID"> -->
                    {% for k,v in details.items %}
                        <input type="hidden" name="{{k}}" value="{{v}}">
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <script>
        document.paytm.submit();
    </script>
</body>
</html>