{% extends "parent.html"%}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto card shadow my-5 p-4">
            <h1 class="display-4 text-{{status}}">{{msz}}!!!</h1>
            <p class="Thanks for your voluntery work! "></p>
        </div>
    </div>
</div>
{% endblock %}