{% extends 'parent.html' %}
{% load bootstrap4 %}
{% block myblock %}
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5 text-white" style="background:rgba(0,0,0,0.5);">
            <h1 class="p-5 display-4">Dashboard > Upload Song </h1>
        </div>
    </div>

    <div class="row">
        <div class="card col-md-6 mx-auto p-5 shadow my-4">
            <form method="post" enctype="multipart/form-data">
                {% if status %}
                <div class="alert alert-primary">{{status}}</div>
                {% endif %}
                {% csrf_token %}
                {% bootstrap_form upload_form %}
                <input type="submit" class="btn btn-info" value="Upload Now!">
            </form>
        </div>
    </div>

</div>
{% endblock %}
