{% extends "parent.html"%}
{% block myblock %}
<div class="container">
    <!-- {{single_feedback}} -->
    <h1 class="jumbotron mt-4">CATEGORY DETAIL </h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <img src="/media/{{single_category.image}}" alt="" height="300" width="100%" class="card-img">
                </div>
                <div class="card-body">
                    <h4>{{single_category.name}}</h4>
                    <p>
                        {{single_category.description}}
                    </p>
                </div>
                <div  class="card-footer">
                    <a href="{% url 'class_based_app:categorydelete' single_category.id %}" class="btn btn-danger">Delete</a>
                    <em class="float-right">{{single_category.uploaded_on}}</em>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}