{% extends "parent.html"%}
{% block myblock %}
<div class="container">
    <!-- {{single_feedback}} -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="display-4">Confirmation</h1>
                    <p>Are You Sure want to delete <em>{{object}}</em> category?</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-warning" value="Yes, I am Sure">
                        <a href="{% url 'class_based_app:category_list' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                    
                </div>
        </div>
    </div>
</div>
</div>
{% endblock %}